body{
  font-family:Arial;
  background:#111;
  color:white;
}

#box{
  height:80vh;
  overflow:auto;
  padding:10px;
}

.user{
  background:#2b7cff;
  padding:10px;
  margin:10px;
  border-radius:10px;
}

.ai{
  background:#333;
  padding:10px;
  margin:10px;
  border-radius:10px;
}

input{
  width:75%;
  padding:10px;
}

button{
  padding:10px;
}
