body{
  font-family:Arial;
  text-align:center;
  background:#0f0f0f;
  color:white;
}

.btn{
  display:block;
  width:80%;
  margin:20px auto;
  padding:18px;
  background:#1e90ff;
  color:white;
  text-decoration:none;
  border-radius:10px;
}
